<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/filter.js"></script>
    <title>Admin</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <main>
        <select name="select" id="select" class="filter-elements" onchange="filterCategory(this.value)">
            <option value="todos">Todos</option>
            <option value="tecnologia">Tecnologia</option>
            <option value="moda">Moda</option>
            <option value="hogar">Hogar</option>
            <option value="deportes">Deportes</option>
            <option value="movilidad">Movilidad</option>
            <option value="ninios">Niños</option>
        </select>

        <% for(let i = 0; i < productos.length; i++) { %>
        <% for(let j = 0; j < productos[i].length; j++) { %>
        <section class="product-box <%= productos[i][j].categoria %>">

            <div class="product-info">
                <img src="<%= productos[i][j].imagen %>" alt="">
            </div>

            <div class="product-title">
                <p><a href="/product/<%=productos[i][j].id%>"><%= productos[i][j].titulo %> </a></p>
            </div>

            <div class="product-info">
                <p><b>Categoria:</b>  <%= productos[i][j].categoria %></p>
            </div>

            <div class="product-info">
                <p><b>Precio:</b>  <%= productos[i][j].precio %></p>
            </div>

          
            <div class="edit-links">
                <a href="/product/edit/<%=productos[i][j].id%> " title="Editar Producto"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="#" title="Eliminar Producto" class="trash"><i class="fa-solid fa-trash"></i></a>
            </div>

        </section>

        <% } %>
        <% } %>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/sidenav') %>

</body>

</html>