<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/filter.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js""></script>
    <title>Admin</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <main>
        <select name="select" id="select" class="filter-elements" onchange="filterCategory(this.value)">
            <option value="todos">Todos</option>
            <% for(let i = 0; i < categorias.length; i++) { %>
            <option value="<%= categorias[i].descripcion %>"><%= categorias[i].descripcion %></option>
            <% } %> 
        </select>

        <% for(let i = 0; i < productos2.length; i++) { %>

        <section class="product-box <%= productos2[i].categoria %>">

            <div class="product-image">
                <img src="/img/<%= productos2[i].imagen %>" alt="">
            </div>

            <div class="product-title">
                <p><a href="/product/<%=productos2[i].idpublicacion%>"><%= productos2[i].titulo %> </a></p>
            </div>

            <div class="product-info">
                <p><b>Categoria:</b>  <%= productos2[i].categoria %></p>
            </div>

            <div class="product-info">
                <p><b>Precio:</b>  <%= productos2[i].precio %></p>
            </div>

          
            <div class="edit-links">
                <a href="/product/edit/<%=productos2[i].idpublicacion%> " title="Editar Producto"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="#" onclick=<%= 'deleteProduct('+productos2[i].idpublicacion+')' %> title="Eliminar Producto" class="trash"><i class="fa-solid fa-trash"></i></a>
            </div>

        </section>

        <% } %>

    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/sidenav') %>
    <script>
        function deleteProduct(id) {
        $.ajax({
            url: '/product/delete/'+id,
            type: 'DELETE',
            success: function (result) {
                alert(result.resultado);
                if(result.resultado=='ok'){
                    alert(result.mensaje);
                    console.log(result.mensaje);
                }else {
                    console.error(result.mensaje);
                    alert(result.mensaje);
                }
                
                
            }
        });
    }
    </script>
</body>

</html>