<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <main>
        <% for(let i = 0; i < productos.length; i++) { %>
        <% for(let j = 0; j < productos[i].length; j++) { %>
        <div>
            <a href="/product/<%=productos[i][j].id%>"><%= productos[i][j].titulo %> </a>
            <p><%= productos[i][j].descripcion %></p>
            <p>Categoria: <%= productos[i][j].categoria %></p>
            <p>Precio: <%= productos[i][j].precio %></p>
            <p>Color: <%= productos[i][j].color %></p>
            <p>Marca: <%= productos[i][j].marca %></p>
        </div>

        <% } %>
        <% } %>
    </main>
    <%- include('./partials/footer') %>

    <%- include('./partials/sidenav') %>
</body>

</html>