<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <main>
        <section class="filter-elements" id="filterBtn">
            <button class="filter-btn">Mostrar todos</button>
            <button class="filter-btn">Tecnologia</button>
            <button class="filter-btn">Moda</button>
            <button class="filter-btn">Hogar</button>
            <button class="filter-btn">Deportes</button>
            <button class="filter-btn">Movilidad</button>
            <button class="filter-btn">Niños</button>
        </section>
        <% for(let i = 0; i < productos.length; i++) { %>
        <% for(let j = 0; j < productos[i].length; j++) { %>
        <section class="product-box">
            <div class="product-info">
                <p class="product-title"><a href="/product/<%=productos[i][j].id%>"><%= productos[i][j].titulo %> </a></p> 
                <div class="edit-links">
                    <a href="#">Editar<i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="#">Eliminar producto <i class="fa-solid fa-xmark"></i></a>
                </div>
     
            </div>
            <div class="product-info">
                <p><%= productos[i][j].descripcion %></p>
                <a href="#">Editar<i class="fa-solid fa-pen-to-square"></i></a>

            </div>
            <div class="product-info">
                <p>Categoria: <%= productos[i][j].categoria %></p>
                <a href="#">Editar<i class="fa-solid fa-pen-to-square"></i></a>

            </div>
            <div class="product-info">
                <p>Precio: <%= productos[i][j].precio %></p>
                <a href="#">Editar<i class="fa-solid fa-pen-to-square"></i></a>

            </div>
            <div class="product-info">
                <p>Color: <%= productos[i][j].color %></p>
                <a href="#">Editar<i class="fa-solid fa-pen-to-square"></i></a>

            </div>
            <div class="product-info">
                <p>Marca: <%= productos[i][j].marca %></p>
                <a href="#">Editar<i class="fa-solid fa-pen-to-square"></i></a>
            </div>
            <div class="product-info">
                <img src="<%= productos[i][j].imagen %>" alt="">
                <a href="#">Editar<i class="fa-solid fa-pen-to-square"></i></a>
            </div>
        </section>

        <% } %>
        <% } %>
    </main>
    <%- include('./partials/footer') %>

    <%- include('./partials/sidenav') %>
</body>

</html>