<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/filter.js"></script>
    <title>Admin</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <main>
        <select name="select" id="select" class="filter-elements" onchange="filterCategory(this.value)">
            <option value="todos">todos</option>
            <option value="tecnologia">tecnologia</option>
            <option value="moda">moda</option>
            <option value="hogar">hogar</option>
            <option value="deportes">deportes</option>
            <option value="movilidad">movilidad</option>
            <option value="ninios">ninios</option>
        </select>

        <% for(let i = 0; i < productos.length; i++) { %>
        <% for(let j = 0; j < productos[i].length; j++) { %>
        <section class="product-box <%= productos[i][j].categoria %>">

            <div class="product-title">
                <p><a href="/product/<%=productos[i][j].id%>"><%= productos[i][j].titulo %> </a></p>
            </div>

            <div class="product-info">
                <p><b>Descripción: </b><%= productos[i][j].descripcion %></p>
            </div>

            <div class="product-info">
                <p><b>Categoria:</b>  <%= productos[i][j].categoria %></p>
            </div>

            <div class="product-info">
                <p><b>Precio:</b>  <%= productos[i][j].precio %></p>
            </div>

            <div class="product-info">
                <p><b>Color:</b> <%= productos[i][j].color %></p>
            </div>

            <div class="product-info">
                <p><b>Marca:</b> <%= productos[i][j].marca %></p>
            </div>

            <div class="product-info">
                <img src="<%= productos[i][j].imagen %>" alt="">
            </div>

            <div class="edit-links">
                <a href="/product/edit/<%=productos[i][j].id%> ">Editar<i class="fa-solid fa-pen-to-square"></i></a>
                <a href="#">Eliminar producto <i class="fa-solid fa-xmark"></i></a>
            </div>

        </section>

        <% } %>
        <% } %>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/sidenav') %>

</body>

</html>