<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/categorias.css">
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js""></script>
    <title>Admin</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <main>
      <section class="barralateral">
        <div>
            <h2 clas="tituloseccion">Categorias</h2>
            <ul>
               
                    <% for (let categoria of categorias) { %>
                        
                        <li class="textocategoria"><a href="/categorias/<%= categoria.idcategoria %>"><%= categoria.descripcion %></a></li>
                    <% } %>
                
                
                
            </ul>
        </div>
      </section>
      <section class="listadoproductos">
        <% if (locals.productos) { %>
            <% for (let producto of locals.productos) { %>
                <div class="item-producto">
                    <a href="/product/<%= producto.idpublicacion %>">
                    <div class="imagenproducto">
                     <img src="/img/<%= producto.imagenes[0].imagen %>" alt="<%= producto.nombre %>">
                    </div>  
                    <hr class="separadorimg">
                    <p class="precio">Precio: $<%= producto.precio %></p>
                   <h4 class="tituloproducto"><%= producto.descripcion %></h4>
                    
                    
                </a>
                </div>
            <% } %>
        <% } %>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/sidenav') %>

</body>

</html>