<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Mi Carrito</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/cesta.css" />
    <script src="https://kit.fontawesome.com/91393ea5bf.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/navbar') %> 
    <div class="contenedor">
        <section class="cesta">
            <article class="headitems">
                <div class="divcesta">Mi carrito</div>
                <div class="divprecio">Precio</div>
                
            </article>
            
            <% if (locals.session.basketProducts!=undefined && locals.session.basketProducts.length > 0) { %>
                <% for (let i = 0;i < locals.session.basketProducts.length;i++){ %>
            <article class="cestaitem">
                <div class="imagenitem">
                    <img src="<%= locals.session.basketProducts[i].imagen %>">
                </div>
                <div class="detalleitem">
                    <div class="titulodesc"><%= locals.session.basketProducts[i].titulo %></div>
                    <div class="descripcionitem"> Procesador AMD Ryzen 9 5990X 16 core 4.4Ghz 64Mb cache L3 </div>
                    <div class="opcionesitem">
                        <div class="cantidad">
                            <label for="selectcantidad">Cant.</label>
                            <select name="cantidad">
                                <option value="1" <% if (locals.session.basketProducts[i].cantidad==1){%> selected <% } %> >1</option>
                                <option value="2" <% if (locals.session.basketProducts[i].cantidad==2){%> selected <% } %> >2</option>
                                <option value="3" <% if (locals.session.basketProducts[i].cantidad==3){%> selected <% } %> >3</option>
                                <option value="4" <% if (locals.session.basketProducts[i].cantidad==4){%> selected <% } %> >4</option>
                                
                            </select>
                        </div>
                        <div class="linksopciones"><a href="http://localhost:3000/cesta/delete/<%=locals.session.basketProducts[i].id %>">Eliminar</a><a href="#">Ver productos similares</a></div>
                    </div>
                </div>
                <div class="precioitem">$ <%= (locals.session.basketProducts[i].precio*locals.session.basketProducts[i].cantidad).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></div>
            </article>
                <% } %>
            <% } else {  %>
                <div class="detalleitem" style="width:100%">
                    <div class="titulodesc">El carrito está vacío</div>
                </div>
             <% } %>   
            <article class="total">
                <% if (locals.session.basketProducts!=undefined && locals.session.basketProducts.length > 0) { %>
                <span>Subtotal (<%= locals.session.basketProducts.length %> Productos):<strong> $ 
                        <%= locals.session.basketProducts.reduce((acumulador, actual) => acumulador + (actual.precio*actual.cantidad), 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}); %>
                    </strong>
                </span>
                <% } %>
            </article>
        </section>
        <% if (locals.session.basketProducts!=undefined && locals.session.basketProducts.length > 0) { %>
        <section class="barralateral">
            <article class="barralateralitem">
                <div class="cajasubtotal">
                    <span>Subtotal (<%= locals.session.basketProducts.length %> Productos):<strong> $ <%= locals.session.basketProducts.reduce((acumulador, actual) => acumulador + (actual.precio*actual.cantidad), 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}); %></strong></span>
                    <button class="botonpedido">Finalizar pedido</button>
                </div>
            </article>

        </section>
        <% } %>
        <script>

            function deleteProduct(id){
                var formData = new FormData();
                formData.append("productId", id);
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/cesta/delete/"+id);
                xhr.send(formData);
               /* var url = "/cesta";
                var xhr = new XMLHttpRequest();

                xhr.open("DELETE", url, true);
                xhr.onload = function () {
                    var users = JSON.parse(xhr.responseText);
                    if (xhr.readyState == 4 && xhr.status == "200") {
                        console.table(users);
                    } else {
                        console.error(users);
                    }
                }
                xhr.send(null);*/
            }
        </script>
    </div>
  <%- include('./partials/sidenav') %>

</body>

</html>