<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Mi Carrito</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/cesta.css" />
    <script src="https://kit.fontawesome.com/91393ea5bf.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/navbar') %> 
    <div class="contenedor">
        <section class="cesta">
            <article class="headitems">
                <div class="divcesta">Mi carrito</div>
                <div class="divprecio">Precio</div>
                
            </article>
            
            <% if (locals.session.basketProducts!=undefined && locals.session.basketProducts.length > 0) { %>
                <% for (let i = 0;i < locals.session.basketProducts.length;i++){ %>
            <article class="cestaitem">
                <div class="imagenitem">
                    <img src="/img/<%= locals.session.basketProducts[i].imagen %>">
                </div>
                <div class="detalleitem">
                    <div class="titulodesc"><%= locals.session.basketProducts[i].titulo %></div>
                    <div class="descripcionitem"><%= locals.session.basketProducts[i].descripcion %> </div>
                    <div class="opcionesitem">
                        <div class="cantidad">
                            <label for="selectcantidad">Cant.</label>
                            <% if (locals.session.basketProducts[i].cantidad<=locals.session.basketProducts[i].stock){ %>
                                
                            <select name="cantidad" onChange="update2(<%= locals.session.basketProducts[i].id %>,this.value)">
                                <% for(let j = 1;j <= locals.session.basketProducts[i].stock;j++){ %> 
                                    
                                    <option value="<%= j %>" <% if (locals.session.basketProducts[i].cantidad==j){%> selected <% } %>><%= j %></option> 
                                
                                <% } %>
                            </select>
                           
                            <% } else { %>
                                <select name="cantidad" onChange="update2(<%= locals.session.basketProducts[i].id %>,this.value)">
                                    <% for(let j = 1;j <= locals.session.basketProducts[i].stock;j++){ %> 
                                        
                                         <option value="<%= j %>" <% if (locals.session.basketProducts[i].cantidad==locals.session.basketProducts[i].stock){%> selected <% } %>><%= j %></option>
                                    
                                    <% } %>
                                </select>
                            <% } %>
                           
                        </div>
                        <div class="linksopciones">
                            <a href="http://localhost:3000/cesta/delete/<%=locals.session.basketProducts[i].id %>">Eliminar</a><a href="#">Ver productos similares</a>
                            <% if (locals.mensaje && (locals.session.basketProducts[i].id==locals.mensaje.id)){ %>
                                <span class="mensajeError"><%= locals.mensaje.mensaje %></span>
                            <% } %>
                        </div>
                       
                    </div>
                </div>
                <div class="precioitem">$ <%= (locals.session.basketProducts[i].precio*locals.session.basketProducts[i].cantidad).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></div>
            </article>
                <% } %>
            <% } else {  %>
                <div class="detalleitem" style="width:100%">
                    <div class="titulodesc">El carrito está vacío</div>
                </div>
             <% } %>   
            <article class="total">
                <% if (locals.session.basketProducts!=undefined && locals.session.basketProducts.length > 0) { %>
                <span>Subtotal (<%= locals.session.basketProducts.length %> Productos):<strong> $ 
                        <%= locals.session.basketProducts.reduce((acumulador, actual) => acumulador + (actual.precio*actual.cantidad), 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}); %>
                    </strong>
                </span>
                <% } %>
            </article>
        </section>
        <% if (locals.session.basketProducts!=undefined && locals.session.basketProducts.length > 0) { %>
        <section class="barralateral">
            <article class="barralateralitem">
                <div class="cajasubtotal">
                    <span>Subtotal (<%= locals.session.basketProducts.length %> Productos):<strong> $ <%= locals.session.basketProducts.reduce((acumulador, actual) => acumulador + (actual.precio*actual.cantidad), 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}); %></strong></span>
                    <button class="botonpedido">Finalizar pedido</button>
                </div>
            </article>

        </section>
        <% } %>
        <script>

            function deleteProduct(id){
                var formData = new FormData();
                formData.append("productId", id);
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/cesta/delete/"+id);
                xhr.send(formData);
             
            }
            function updateProduct(id, cantidad){
                let iditem=parseInt(id);
                let cantidadnueva=parseInt(cantidad);
                var formData = new FormData();
                formData.append("productId", iditem);
                formData.append("cantidad", cantidadnueva);
                var xhr = new XMLHttpRequest();
                xhr.open("PATCH", "/cesta/update/"+iditem+"/"+cantidadnueva);
                xhr.send(formData);
                alert(xhr.status);
                alert(xhr.responseText);
                if(xhr.status==200){
                    location.href="/cesta";
                }
            }
            function update2(id, cantidad){
                    let iditem=parseInt(id);
                    let cantidadnueva=parseInt(cantidad);
                    fetch("/cesta/update/"+iditem+"/"+cantidadnueva).then(function(response){
                        return response.json();
                    }).then(function(data){
                        if(data.mensaje=="ok"){
                            location.href="/cesta";
                        }
                    }).catch(function(error){
                        console.log(error);
                    });
               }
             
            
        </script>
    </div>
  <%- include('./partials/sidenav') %>

</body>

</html>