<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/checkout.css">
    <%- include('./partials/head') %>
    <title>Confirmar compra</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <main class="mainForm">
        <div class="confirmarDireccion">
            <% if(locals.query) { %>
                <h3 class="confirmarDireccionError">Por favor confirme su direccion de envio! </h3>
            <% } else { %>
            <h3>Confirme su dirección de envio:</h3>
            <% } %>
            <form class="formConfirmarDireccion" method="POST" action="/cesta/confirmardireccion">

                <div class="divConfirmarDireccionSelect">
                    <div>
                        <label for="usuarioDomicilioPais">Pais:</label>
                        <select name="usuarioDomicilioPais" id="usuarioDomicilioPais">
                            <% if(locals.domicilio) { %>
                            <option value="<%= domicilio.pais.idpais %>" selected>
                                <%= domicilio.pais.PaisNombre %> </option>
                            <% } %>
                                <% paises.forEach(pais => { %>
                            <option value="<%= pais.idpais %>"> <%= pais.PaisNombre %> </option>
                            <% }) %>
                        </select>
                    </div>

                    <div>
                        <label for="usuarioDomicilioProvincia">Provincia:</label>
                        <select name="usuarioDomicilioProvincia" id="usuarioDomicilioProvincia">
                            <% if(locals.domicilio) { %>
                            <option selected value="<%=domicilio.provincia.idProvincia%>"> <%= domicilio.provincia.Provincia %> </option>
                            <% } %>
                            <% provincias.forEach(provincia => { %>
                            <option value="<%= provincia.idProvincia %>"> <%= provincia.Provincia %> </option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="divCalleAltura">
                    <div>
                        <label for="usuarioDomicilioCalle">Calle:</label>
                        <input maxlength="100" name="usuarioDomicilioCalle" id="calleentrega"<% if(locals.domicilio) { %> value="<%= domicilio.calle %>" <% } %> ></input>
                    </div>

                    <div>
                        <label for="usuarioDomicilioAlturaCalle">Altura:</label>
                        <input type="number" maxlength="10" name="usuarioDomicilioAltura" id="alturaentrega"<% if(locals.domicilio) { %> value="<%= domicilio.altura %>" <% } %> ></input>
                    </div>
                </div>

                <div class="divPisoDepto">
                    <div>
                        <label for="usuarioDomicilioDepto">Depto:</label>
                        <input maxlength="3" name="usuarioDomicilioDepto" id="deptoentrega" <% if(locals.domicilio) { %> value="<%= domicilio.depto %>" <% } %> ></input>
                    </div>

                    <div>
                        <label for="usuarioDomicilioPiso">Piso:</label>
                        <input type="number" maxlength="5"  name="usuarioDomicilioPiso" id="pisoentrega" <% if(locals.domicilio) { %> value="<%= domicilio.piso %>" <% } %> ></input>
                    </div>
                </div>
                          


                <div class="divConfirmarCpInput">
                    <label for="usuarioDomicilioCp">Codigo postal:</label>
                    <input type="number" maxlength="6" name="usuarioDomicilioCp" id="cpentrega" <% if(locals.domicilio) { %> value="<%= domicilio.cp %>" <% } %> ></input>
                </div>

                <div class="confirmButtonDiv">
                    <button type="submit">Confirmar</button>
                </div>

            </form>

            </div>

            <form class="confirmarProductos" method="POST" action="/cesta/buy">

                <% if(session.basketProducts != undefined) { %>
                <div class="cantidadProductos">
                    <% var total = 0; %>
                    <% session.basketProducts.forEach(producto => { %>
                    <div class="detalleProductos">
                        <div class="detalleTituloCantidad">
                            <p>Producto: <%=  producto.titulo %></p>
                            <p>Cantidad: <%=  producto.cantidad %></p>
                        </div>
                        <div class="detallePrecio">
                            <p>Precio por unidad: <%=  parseFloat(producto.precio) %></p>
                        </div>


                    </div>
                    <% total = (producto.precio * producto.cantidad) + total %>

                    <% }) %>
                </div>
                <% } %>

                <div class="confirmarPago">
                    <label for="metodoDePago">Seleccione su metodo de pago</label>
                    <select name="usuarioMetodoDePago" id="usuarioMetodoDePago">
                        <% mediosPago.forEach(metodo => { %>
                        <option value="<%= metodo.idmediosdepago %>"> <%= metodo.nombre %> </option>
                        <% }) %>

                    </select>
                </div>

                <div class="total">
                    <p>Precio total: <%= total.toLocaleString() %></p>
                </div>

                <div class="confirmarButtonDiv">
                    <button id="confirmBuyButton">Confirmar y enviar!</button>
                </div>

            </form>

    </main>
    <%- include('./partials/footer') %>
</body>

</html>