<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Amazona | Proyecto Grupo 3</title>
  </head>

  <body>
    <%- include('./partials/navbar') %>
    <main>
      <section class="banner"></section>
      <section class="principal">
        <article>
          <div>
            <h2>Tecnología</h2>
          </div>
          <div class="itemswrapper">
            <% for (let i=0; i < productos2.tecnologia.length; i++){ %>
            <div>
              <a
                class="product-image-link"
                href="/product/<%= productos2.tecnologia[i].idpublicacion %>"
              >
                <img
                  src="/img/<%= productos2.tecnologia[i].imagenes[0].imagen %>"
                />
                <span><%= productos2.tecnologia[i].titulo %></span>
              </a>
            </div>
            <% } %>
          </div>
          <div class="linkitems">
            <a href="/categorias/1">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Moda</h2>
          </div>

          <div class="itemswrapper">
            <% for (let i=0; i < productos2.moda.length; i++){ %>
            <div>
              <a
                class="product-image-link"
                href="/product/<%= productos2.moda[i].idpublicacion %>"
              >
                <img src="/img/<%= productos2.moda[i].imagenes[0].imagen %>" />
                <span><%= productos2.moda[i].titulo %></span>
              </a>
            </div>
            <% } %>
          </div>
          <div class="linkitems">
            <a href="/categorias/2">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Hogar</h2>
          </div>

          <div class="itemswrapper">
            <% for (let i=0; i < productos2.hogar.length; i++){ %>
            <div>
              <a
                class="product-image-link"
                href="/product/<%=productos2.hogar[i].idpublicacion %>"
              >
                <img src="/img/<%=productos2.hogar[i].imagenes[0].imagen %>" />
                <span><%= productos2.hogar[i].titulo %></span>
              </a>
            </div>
            <% } %>
          </div>
          <div class="linkitems">
            <a href="/categorias/3">Ver más</a>
          </div>
        </article>

        <article>
          <div>
            <h2>Deportes</h2>
          </div>

          <div class="itemswrapper">
            <% for (let i=0; i < productos2.deportes.length; i++){ %>
            <div>
              <a
                class="product-image-link"
                href="/product/<%=productos2.deportes[i].idpublicacion %>"
              >
                <img
                  src="/img/<%=productos2.deportes[i].imagenes[0].imagen %>"
                />
                <span><%= productos2.deportes[i].titulo %></span>
              </a>
            </div>
            <% } %>
          </div>
          <div class="linkitems">
            <a href="/categorias/4">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Movilidad</h2>
          </div>

          <div class="itemswrapper">
            <% for (let i=0; i < productos2.movilidad.length; i++){ %>
            <div>
              <a
                class="product-image-link"
                href="/product/<%= productos2.movilidad[i].idpublicacion %>"
              >
                <img
                  src="/img/<%= productos2.movilidad[i].imagenes[0].imagen %>"
                />
                <span><%= productos2.movilidad[i].titulo %></span>
              </a>
            </div>
            <% } %>
          </div>
          <div class="linkitems">
            <a href="/categorias/5">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Niños</h2>
          </div>

          <div class="itemswrapper">
            <% for (let i=0; i < productos2.ninios.length; i++){ %>
            <div>
              <a
                class="product-image-link"
                href="/product/<%= productos2.ninios[i].idpublicacion %>"
              >
                <img
                  src="/img/<%= productos2.ninios[i].imagenes[0].imagen %>"
                />
                <span><%= productos2.ninios[i].titulo %></span>
              </a>
            </div>
            <% } %>
          </div>
          <div class="linkitems">
            <a href="/categorias/6">Ver más</a>
          </div>
        </article>
      </section>

      <section class="wrapper">
        <h2>Top ventas para ti</h2>
        <div class="topventas">
          <div class="slider">
            <div class="slide-track">
          <% if(locals.topventasypopulares && locals.topventasypopulares.length
          > 0){ %> <% for (let i=0; i < locals.topventasypopulares.length; i++){
          %>

         
          <div class="slide">
            <a href="/product/<%=productos[0][2].id%>">
            <img
              src="/img/<%= locals.topventasypopulares[i].dataValues.imagenes[0].imagen %>"
              alt="" width="100"
            /></a>
            <a href="/product/<%=productos[0][2].id%>">
              <h1><%= locals.topventasypopulares[i].titulo %></h1>
            </a>
          </div>
          <% } } %>
            </div>
            </div>

        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </section>

      <section class="wrapper">
        <h2>Productos populares</h2>
        <div class="topventas">
          <div class="slider">
            <div class="slide-track">
              <% if(locals.topventasypopulares && locals.topventasypopulares.length
            > 0){ %>  
              <% for (let i=locals.topventasypopulares.length - 1; i >=
              0; i--){ %>
  
           
              <div class="slide">
                <a href="/product/<%=locals.topventasypopulares[i].idpublicacion%>">
                <img
                  src="/img/<%= locals.topventasypopulares[i].dataValues.imagenes[0].imagen %>"
                  alt="" width="100"
                /></a>
                <a href="/product/<%=locals.topventasypopulares[i].idpublicacion%>">
                  <h1><%= locals.topventasypopulares[i].titulo %></h1>
                </a>
              </div>
            
            <% } } %>
              
            </div>
          </div>
        </div>

        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>

      
      </section>
      <%- include('./partials/footer') %>
    </main>
    <%- include('./partials/sidenav') %>
  </body>
</html>
