<!DOCTYPE html>
<html lang="en">
 
<head>
 <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/styles.css"/>
  
  <title>Amazona | Proyecto Grupo 3</title>
</head>

<body>
  
  <%- include('./partials/navbar') %>  
  <main>
    <section class="banner">
      
    </section>
    <section class="principal">
      <article>
        <div>
          <h2>Tecnología</h2>
        </div>
        <div class="itemswrapper">
          <% for (let i=0; i < 4; i++){ %>
           <div>
            <a class="product-image-link" href="/product/<%= imagenes[i].idpublicacion %>">
              <img src="/img/<%= imagenes[i].imagen %>">
              <span><%= publicaciones[i].titulo %></span>
            </a>
          </div>
          <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>

      </article>
      <article>
        <div>
          <h2>Moda</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=4;i<8;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%= imagenes[i].idpublicacion %>">
               <img src="/img/<%= imagenes[i].imagen %>">
               <span><%= publicaciones[i].titulo %></span>
             </a>
           </div>
           <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Hogar</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=8;i<12;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%=imagenes[i].idpublicacion %>">
               <img src="/img/<%=imagenes[i].imagen %>">
               <span><%= publicaciones[i].titulo %></span>
             </a>
           </div>
           <% } %>

        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>

      <article>
        <div>
          <h2>Deportes</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=12;i<16;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%=imagenes[i].idpublicacion %>">
               <img src="/img/<%=imagenes[i].imagen %>">
               <span><%= publicaciones[i].titulo %></span>
             </a>
           </div>
           <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Movilidad</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=16;i<20;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%=imagenes[i].idpublicacion%>">
               <img src="/img/<%=imagenes[i].imagen %>">
               <span><%= publicaciones[i].titulo %></span>
             </a>
           </div>
           <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Niños</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=20;i<24;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%=imagenes[i].idpublicacion %>">
               <img src="/img/<%=imagenes[i].imagen %>">
               <span><%= publicaciones[i].titulo %></span>
             </a>
           </div>
           <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article style="display: none;"> 
        <div>
          <h2>Perfumeria</h2>
        </div>
        <div class="itemswrapper">
          <div>item 1</div>
          <div>item 2</div>
          <div>item 3</div>
          <div>item 4</div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article style="display: none;">
        <div>
          <h2>Automoviles</h2>
        </div>
        <div class="itemswrapper">
          <div>item 1</div>
          <div>item 2</div>
          <div>item 3</div>
          <div>item 4</div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
    </section>

    <section class="wrapper">
      <h2>Top ventas para ti</h2>
      <div class="topventas">
        <article>
          <a href="/product/<%=productos[0][2].id%>">
            <h1><%=productos[0][2].titulo%></h1>
            <img src="<%=productos[0][2].imagen%>" alt="">
          </a>
        </article>
        <article>
          <a href="/product/<%=productos[4][2].id%>">
            <h1><%=productos[4][2].titulo%></h1>
            <img src="<%=productos[4][2].imagen%>" alt="">
          </a>
        </article>
        <article>
          <a href="/product/<%=productos[3][1].id%>">
            <h1><%=productos[3][1].titulo%></h1>
            <img src="<%=productos[3][1].imagen%>" alt="">
          </a>
        </article>
        <article>
          <a href="/product/<%=productos[3][0].id%>">
            <h1><%=productos[3][0].titulo%></h1>
            <img src="<%=productos[3][0].imagen%>" alt="">
          </a>
        </article>
        <article>
          <a href="/product/<%=productos[0][0].id%>">
            <h1><%=productos[0][0].titulo%></h1>
            <img src="<%=productos[0][0].imagen%>" alt="">
          </a>
        </article>
        <article>
          <a href="/product/<%=productos[0][1].id%>">
            <h1><%=productos[0][1].titulo%></h1>
            <img src="<%=productos[0][1].imagen%>" alt="">
          </a>
        </article>
      </div>
      <div class="linkitems">
        <a href="#">Ver más</a>
      </div>
    </section>

    <section class="wrapper">
      <h2>Productos populares</h2>
      <div class="prodpopulares">
        <article>
          <a href="/product/<%=productos[0][3].id%>">
            <h1><%=productos[0][3].titulo%></h1>
            <img src="<%=productos[0][3].imagen%>" alt="">
          </a>
        </article>
        <article>
          <a href="/product/<%=productos[1][0].id%>">
            <h1><%=productos[1][0].titulo%></h1>
            <img src="<%=productos[1][0].imagen%>" alt="">
          </a>
        </article>
        <article>
          <a href="/product/<%=productos[2][1].id%>">
            <h1><%=productos[2][1].titulo%></h1>
            <img src="<%=productos[2][1].imagen%>" alt="">
          </a>
        </article>
        <article>
          <a href="/product/<%=productos[4][1].id%>">
            <h1><%=productos[4][1].titulo%></h1>
            <img src="<%=productos[4][1].imagen%>" alt="">
          </a>
        </article>
        <article>
          <a href="/product/<%=productos[1][2].id%>">
            <h1><%=productos[1][2].titulo%></h1>
            <img src="<%=productos[1][2].imagen%>" alt="">
          </a>
        </article>
      </div>
      <div class="linkitems">
        <a href="#">Ver más</a>
      </div>
    </section>
    <%- include('./partials/footer') %>
  </main>
  <%- include('./partials/sidenav') %>
  
</body>

</html>