<!DOCTYPE html>
<html lang="en">

<head>
 <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/styles.css"/>
  
  <title>Amazona | Proyecto Grupo 3</title>
</head>

<body>
  <%- include('./partials/navbar') %>  
  <main>
    <section class="banner">
      
    </section>
    <section class="principal">
      <article>
        <div>
          <h2>Tecnología</h2>
        </div>
        <div class="itemswrapper">
          <% for (let i=0; i < 4; i++){ %>
           <div>
            <a class="product-image-link" href="/product/<%=productos[0][i].id %>">
              <img src="<%=productos[0][i].imagen %>">
              <span><%=productos[0][i].titulo %></span>
            </a>
          </div>
          <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>

      </article>
      <article>
        <div>
          <h2>Moda</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=0;i<4;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%=productos[1][i].id %>">
               <img src="<%=productos[1][i].imagen %>">
               <span><%=productos[1][i].titulo %></span>
             </a>
           </div>
           <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Hogar</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=0;i<4;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%=productos[2][i].id %>">
               <img src="<%=productos[2][i].imagen %>">
               <span><%=productos[2][i].titulo %></span>
             </a>
           </div>
           <% } %>

        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>

      <article>
        <div>
          <h2>Deportes</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=0;i<4;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%=productos[3][i].id %>">
               <img src="<%=productos[3][i].imagen %>">
               <span><%=productos[3][i].titulo %></span>
             </a>
           </div>
           <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Movilidad</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=0;i<4;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%=productos[4][i].id %>">
               <img src="<%=productos[4][i].imagen %>">
               <span><%=productos[4][i].titulo %></span>
             </a>
           </div>
           <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Niños</h2>
        </div>

        <div class="itemswrapper">
          <% for (let i=0;i<4;i++){ %>
            <div>
             <a class="product-image-link" href="/product/<%=productos[5][i].id %>">
               <img src="<%=productos[5][i].imagen %>">
               <span><%=productos[5][i].titulo %></span>
             </a>
           </div>
           <% } %>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article style="display: none;"> 
        <div>
          <h2>Perfumeria</h2>
        </div>
        <div class="itemswrapper">
          <div>item 1</div>
          <div>item 2</div>
          <div>item 3</div>
          <div>item 4</div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article style="display: none;">
        <div>
          <h2>Automoviles</h2>
        </div>
        <div class="itemswrapper">
          <div>item 1</div>
          <div>item 2</div>
          <div>item 3</div>
          <div>item 4</div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
    </section>

    <section class="wrapper">
      <h2>Top ventas para ti</h2>
      <div class="topventas">
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="/img/ps51.webp" alt="">
          </a>
        </article>
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="/img/pelota.jpg" alt="">
          </a>
        </article>
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="" alt="">
          </a>
        </article>
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="" alt="">
          </a>
        </article>
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="" alt="">
          </a>
        </article>
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="" alt="">
          </a>
        </article>
      </div>
      <div class="linkitems">
        <a href="#">Ver más</a>
      </div>
    </section>

    <section class="wrapper">
      <h2>Productos populares</h2>
      <div class="prodpopulares">
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="/img/buzo1.webp" alt="">
          </a>
        </article>
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="/img/macbookair1.webp" alt="">
          </a>
        </article>
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="" alt="">
          </a>
        </article>
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="" alt="">
          </a>
        </article>
        <article>
          <a href="#">
            <h1>Titulo</h1>
            <img src="" alt="">
          </a>
        </article>
      </div>
      <div class="linkitems">
        <a href="#">Ver más</a>
      </div>
    </section>
    <%- include('./partials/footer') %>
  </main>
  <%- include('./partials/sidenav') %>
  
</body>

</html>