<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/productCreate.css" />

  <%- include('./partials/head') %>  
  <script src="https://cdn.tiny.cloud/1/rvmdz6g9c20khbxfhvjrgczx6dwm6gyebku2lc5xh4hgmkla/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <title>Nueva Publicación</title>
</head>

<body>
  <%- include('./partials/navbar') %>
  <div class="productForm">
    <div class="logo">
      <a href="/">
        <img src="/img/amazona-negro.png" alt="Amazona" />
      </a>
    </div>
    <h2>Publicar Producto</h2>

    <form action="/product/create" method="post" enctype="multipart/form-data">
      <div class="tituloForm">
        <label for="titulo">Titulo del producto:</label>
        <input 
          type="text" 
          name="titulo" 
          id="titulo" 
          onchange="validation(this, 2, 100)"
          placeholder="Titulo"/>
          
      </div>
      <div class="descripcionForm">
        <label for="descripcion">Descripcion breve del producto:</label>
        <textarea name="descripcion" id="descripcion" onchange="validation(this, 2, 400)"></textarea>
      </div>
      <div class="descripcionForm" style="margin-top: 10px; margin-bottom: 10px;">
        <label for="descripcion">Detalle de la publicación:</label>
        <textarea name="detallepublicacion" id="detallepublicacion"></textarea>
      </div>
      <div class="categoriaForm">
        <label for="categoria">Selecciona la categoria:</label>
        <select name="categoria" id="categoria">
          <% for(let i = 0; i < categoria.length; i++) { %> 
          <option value="<%= categoria[i].idcategoria %> "><%= categoria[i].descripcion %> </option>
          <% } %> 
        </select>
      </div>
      <div class="colorForm">
        <label for="color">Color/es:</label>
        <input type="text" name="color" onchange="validation(this, 2, 100)">
      </div>
      <div class="marcaForm">
        <label for="marca">Marca:</label>
        <select name="marca" id="marca">
          <% for(let j = 0; j < marca.length; j++) { %> 
          <option value="<%= marca[j].idmarca %> "><%= marca[j].marca %> </option>
          <% } %>
          <option value="otra">Otra..</option>
        </select>
      </div>
      <div class="marcaInputDiv">
        <div>
          <label>Nueva marca:</label>
          <input type="text" name="nuevaMarca" id="marcaInput" class="marcaInput" placeholder="Marca:"></input>
        </div>
        <div>
          <label>Categoria nueva marca:</label>
          <select name="nuevaMarcaCategoria" id="nuevaMarcaCategoria">
            <% for(let i = 0; i < categoria.length; i++) { %> 
              <option value="<%= categoria[i].idcategoria %> "><%= categoria[i].descripcion %> </option>
            <% } %> 
          </select>
        </div>
      </div>
      <div class="precioForm">
        <label for="precio">Precio:</label>
        <input type="number" name="precio" id="precio" step="0.01" onchange="validation(this, 1, 20)"/>
      </div>
      <div class="stockForm">
        <label for="stock">Cantidad en stock:</label>
        <input type="number" class="stockInput" name="stock">
      </div>
      <div class="imagenPrincipal">
        <h5>Agregar imágen principal</h5>
        <br>
        <div class="imagenForm">
          <label for="imagenPrincipal">Seleccionar Imagen</label>
          <input type="file" name="imagenPrincipal" id="imagenPrincipal" accept="image/*" />
          <% if(locals && locals.mensaje){ %>

          <br>
          <div class="error">

            <%= mensaje.descripcion %>

          </div>
          <%  
            }
             %>
        </div>
      </div>
      <div class="imagenesSecundarias">
        <h5>Agregar imágenes secundarias</h5>
        <div class="imagenForm">
          <label for="imagenSecundaria">Seleccionar imágenes</label>
          <input type="file" name="imagenSecundaria[]" id="imagenSecundaria" accept="image/*" multiple />
        </div>
      </div>
      <div class="submitForm">
        <button type="submit">Publicar</button>
      </div>
    </form>
  </div>
  

    <%- include('./partials/sidenav') %>
    <br>
    <%- include('./partials/footer') %>
    
</body>
  <script src="/js/productCreateValidation.js"></script>
  <script src="/js/nuevaMarca.js"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'casechange image editimage linkchecker autolink lists checklist media mediaembed pageembed powerpaste table advtable tableofcontents  ',
      toolbar: 'casechange image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      
    });
  </script>
</html>