<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/product.css">

  <script src="https://kit.fontawesome.com/91393ea5bf.js" crossorigin="anonymous"></script>
  <title>Detalle de Producto</title>
</head>

<body>
  <% if (productos!=undefined) { %>
  <%- include('./partials/navbar') %>
  <%- include('./partials/sidenav') %>

  <main>
    <section class="images">

      <div class="mini-viewer">
        <% if (productos!=undefined) { 
          for(let i = 0; i < productos.masImagenes.length; i++) { %>
        <div class="mini-image">
          <img src="<%= productos.masImagenes[i] %> " alt="" onclick="mostrarImagen(this)">
        </div>
        <% }
       } %>
      </div>
      <div class="main-image">
        <% if (productos!=undefined) { %>
        <img src="<%= productos.imagen %>" alt="" name="mainimage" id="mainimage">
        <% } %>
      </div>

      <div class="mensajeimagen">Click para agrandar la imagen</div>
    </section>
    <section class="productInfo">
      <% if (productos!=undefined) { %>
      <h2><%= productos.titulo %> </h2>
      <% } %>
      <div class="calfiarriba">
        <%  let contador = 0; %>
        <% for(let i = 0; i < productos.comentarios.length; i++) { %>
        <%  contador=contador+parseInt(productos.calificaciones[i]) %>
        <% } %>
        Calificación promedio:
        <% let total= Math.round(contador/productos.comentarios.length) %>
        <% for(let j = 0; j < total; j++) { %>
        <i class="fa-solid fa-star" title="Calificaión: <%= contador/productos.comentarios.length %>"></i>

        <% } %>
        <% 
        if(total<5) {
          for(let k = 0; k < (5-total); k++) { %>
        <i class="fa-regular fa-star" title="Calificaión: <%= contador/productos.comentarios.length %>"></i>
        <% }
        } %>



      </div>
      <div class="productDescription">

        <p> <%= productos.descripcion %> </p>

      </div>
      <div class="productStyles">
        <p>Colores: <%= productos.color %></p>
        <br>
        <p>Marca: <%= productos.marca %></p>
        <br>
        <p>Categoria: <%= productos.categoria %></p>
      </div>
    </section>
    <hr class="seaparaseccion">
    <section class="barraderecha">
      <div class="precio">
        $ <%= productos.precio %>
      </div>
      <div class="detenvio">
        $ <%= Math.trunc(Math.random()*2000) %> envío a Tucumán.
        <span class="flash"><i class="fa-solid fa-bolt-lightning"></i> Envio Flash disponible</span>
      </div>
      <div class="entrega">
        Entrega aproximada:
        <span class="fechaentrega">Miércoles 27 de agosto</span>
      </div>
      <div class="stock">
        En Stock
      </div>
      <form action="../cesta/agregar/<%= productos.id %>" method="post">
        <div class="cantidad">
          <select>
            <option value="" disabled selected>Cantidad</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="botones">
          <div class="botonagregar">
            <button class="agregar" type="submit">Agregar al carrito</button>
          </div>
          <div class="botoncomprar">
            <button class="comprar">Comprar ahora</button>
          </div>
        </div>
      </form>
      <div class="envioacargo">
        Envío a cargo del comprardor
      </div>
      <div class="vendedor">
        Vendido por: IC-LA-Creyó
      </div>
      <div class="garantia">
        Garantía de 30 días.
      </div>
    </section>
  </main>

  <hr class="separador">
  <article class="compralocon">
    compralo con

  </article>
  <hr class="separador">

  <article class="publicacion">
    <div>
      <h2>What is Lorem Ipsum?</h2>
      <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div>
      <h2>What is Lorem Ipsum?</h2>
      <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div>
      <h2>What is Lorem Ipsum?</h2>
      <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </article>
  <hr class="separador">
  <% if(productos.preguntas!=undefined && productos.preguntas.length>0) { %>
  <article class="preguntas">
    <h3>Otras preguntas</h3>
    <% for(let i = 0; i < productos.preguntas.length; i++) { %>

    <div class="itempreguntas">
      <div class="usuario">
        <%=productos.preguntas[i].usuario%>
      </div>
      <div class="preg-resp">
        <div class="pregunta">
          <%=productos.preguntas[i].pregunta%>
        </div>
        <div class="respuesta">
          <i class="fa-solid fa-turn-up" style="
            transform: rotate(90deg);"></i>
          eh.... podría darme el dinero?
        </div>
      </div>
    </div>

    <% } %>
   
    </div>
  </article>
  <% } %>
    <article class="postComentario">
      <h3>Realizar una pregunta al vendedor</h3>
      <form class="form-preguntas" action="/product/<%=productos.id%>/pregunta" method="post">

        <label for="pregunta"></label>
        <textarea name="pregunta" id="pregunta" required minlength="20"></textarea>

        <button class="btnenviar" type="submit">Enviar</button>
      </form>
    </article>




  </article>
  <% if(productos.comentarios!=undefined && productos.comentarios.length>0) { %>
  <hr class="separador">
  <article class="comentario-calificacion">
   
    <h2>Otros usuarios opinaron</h2>
   
    <% for(let i = 0; i < productos.comentarios.length; i++) { %>
    <div class="comment-box">

      <div class="calificacion">
        <% for(let j = 0; j < productos.calificaciones[i]; j++) { %>
        <i class="fa-solid fa-star"></i>

        <% } %>
        <% 
        if(productos.calificaciones[i]<5) {
          for(let k = 0; k < (5-productos.calificaciones[i]); k++) { %>
        <i class="fa-regular fa-star"></i>
        <% }
        } %>
      </div>
      <div class="comentario">
        <p>
          <%= productos.comentarios[i] %>
        </p>
      </div>
    </div>
    <% } %>
    
  </article>
  <% } %>
  <hr class="separador">
  <article class="postComentario">
    <h3>Dejanos tu comentario y calificacion:</h3>
    <form action="/product/<%=productos.id%>/comentario" method="post">
      <section>
        <label for="comentario"></label>
        <textarea name="comentario" id="comentario" required minlength="4"></textarea>
        <div class="rating">
          <input type="radio" name="calificacion" id="one" value="1" checked />
          <label for="one"><i class="fa fa-star"></i></label>
          <input type="radio" name="calificacion" id="two" value="2" />
          <label for="two"><i class="fa fa-star"></i></label>
          <input type="radio" name="calificacion" id="three" value="3" />
          <label for="three"><i class="fa fa-star"></i></label>
          <input type="radio" name="calificacion" id="four" value="4" />
          <label for="four"><i class="fa fa-star"></i></label>
          <input type="radio" name="calificacion" id="five" value="5" />
          <label for="five"><i class="fa fa-star"></i></label>
        </div>

      </section>
      </div>
      <button class="btnenviar" type="submit">Enviar</button>
    </form>
  </article>
  <%- include('./partials/sidenav') %>
  <br>
  <%- include('./partials/footer') %>
  <script>
    function mostrarImagen(obj) {
      document.getElementById("mainimage").src = obj.src;
    }
  </script>
  <% } %>
</body>

</html>