<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/product.css">
  
  <script src="https://kit.fontawesome.com/91393ea5bf.js" crossorigin="anonymous"></script>
  <title>Detalle de Producto</title>
</head>

<body>
  <%- include('./partials/navbar') %> 
  <%- include('./partials/sidenav') %>
  <main>
    <section class="images">
      
        <div class="mini-viewer">
          <div class="mini-image"></div>
          <div class="mini-image"></div>
          <div class="mini-image"></div>
          <div class="mini-image"></div>
          <div class="mini-image"></div>
        </div>
        <div class="main-image">
          <img src="<%= productos.imagen %>" alt="">
          
        </div>
      
      <div class="mensajeimagen">Click para agrandar la imagen</div>
    </section>
    <section class="productInfo">
      <h2><%= productos.titulo %> </h2>
      <div class="productDescription">
        <%= productos.descripcion %> 
      </div>
      <div class="productStyles">
        product.color ?
        <br>
        product.marca ? 
        <br>
        product.categoria ?
      </div>
    </section>
    <section class="barraderecha">
      <div class="precio">
       $ <%= productos.precio %> 
      </div>
      <div class="detenvio">
        $ <%= Math.trunc(Math.random()*2000) %> envío a Tucumán.
        <span class="flash"><i class="fa-solid fa-bolt-lightning"></i> Envio Flash disponible</span>
      </div>
      <div class="entrega">
        Entrega aproximada:
        <span class="fechaentrega">Miércoles 27 de agosto</span>
      </div>
      <div class="stock">
        En Stock
      </div>
      <div class="cantidad">
        <select>
          <option value="" disabled selected>Cantidad</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="botones">
        <div class="botonagregar">
          <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="botoncomprar">
          <button class="comprar">Comprar ahora</button>
        </div>
      </div>
      <div class="envioacargo">
        Envío a cargo del comprardor
      </div>
      <div class="vendedor">
        Vendido por: IC-LA-Creyó
      </div>
      <div class="garantia">
        Garantía de 30 días.
      </div>
    </section>
  </main>

  <hr class="separador">
  <article class="compralocon">
    compralo con

  </article>
  <hr class="separador">

  <article class="publicacion">
    <div>
      <h2>What is Lorem Ipsum?</h2>
      <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div>
      <h2>What is Lorem Ipsum?</h2>
      <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div>
      <h2>What is Lorem Ipsum?</h2>
      <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </article>
  <hr class="separador">
  <article class="preguntas">
    <div class="itempreguntas">
      <div class="usuario">
        clodomiro2020
      </div>
      <div class="pregunta">
        Quisiera actualizar mi conexión a la red de 28.8 kilobaudios a una línea T1 de fibra óptica. ¿Tiene usted un
        servidor con routeador compatible con mi configuración LAN ethernet token ring?
      </div>
      <div class="respuesta">
        eh.... podría darme el dinero?
      </div>
    </div>
    <div class="itempreguntas">
      <div class="usuario">
        clodomiro2020
      </div>
      <div class="pregunta">
        Quisiera actualizar mi conexión a la red de 28.8 kilobaudios a una línea T1 de fibra óptica. ¿Tiene usted un
        servidor con routeador compatible con mi configuración LAN ethernet token ring?
      </div>
      <div class="respuesta">
        eh.... podría darme el dinero?
      </div>
    </div>
    <div class="itempreguntas">
      <div class="usuario">
        clodomiro2020
      </div>
      <div class="pregunta">
        Quisiera actualizar mi conexión a la red de 28.8 kilobaudios a una línea T1 de fibra óptica. ¿Tiene usted un
        servidor con routeador compatible con mi configuración LAN ethernet token ring?
      </div>
      <div class="respuesta">
        eh.... podría darme el dinero?
      </div>
    </div>

  </article>
  <hr class="separador">
  <article class="calificacionprod">
    <div class="itemcalificaion">
      <div class="calificaion">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half"></i>

      </div>
      <div class="comentario">
        Muy buen producto, lo tengo hace varios años y nunca tuve ningun problema
      </div>
    </div>
    <div class="itemcalificaion">
      <div class="calificaion">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half"></i>

      </div>
      <div class="comentario">
        Muy buen producto, lo tengo hace varios años y nunca tuve ningun problema
      </div>
    </div>
    <div class="itemcalificaion">
      <div class="calificaion">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half"></i>

      </div>
      <div class="comentario">
        Muy buen producto, lo tengo hace varios años y nunca tuve ningun problema
      </div>
    </div>
    <div class="itemcalificaion">
      <div class="calificaion">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>

      </div>
      <div class="comentario">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
    </div>
  </article>

</body>

</html>