<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/product.css">

  <script src="https://kit.fontawesome.com/91393ea5bf.js" crossorigin="anonymous"></script>
  <title>Detalle de Producto</title>
</head>

<body>
  <% if (datosPublicacion!=undefined) { %>
  <%- include('./partials/navbar') %>
  <%- include('./partials/sidenav') %>
 
  <main>
    
    <section class="images">

      <div class="mini-viewer">
        <% if (datosPublicacion.imagenes!=undefined) { 
          for(let i = 0; i < datosPublicacion.imagenes.length; i++) { %>
            <% if(datosPublicacion.imagenes[i].imagenprincipal != 1) { %>
              <div class="mini-image">
                <img src="<%= '/img/'+datosPublicacion.imagenes[i].imagen %> " alt="" onclick="mostrarImagen(this)">
              </div>
            <% } %>
        <% }
       } %>
      </div>
      <div class="main-image">
        <% if (datosPublicacion.imagenes!=undefined) { 
          for(let i = 0; i < datosPublicacion.imagenes.length; i++) { %>
            <% if(datosPublicacion.imagenes[i].imagenprincipal == 1) { %>
             
              <img src="<%= '/img/'+datosPublicacion.imagenes[i].imagen %>" alt="" name="mainimage" id="mainimage">
              
            <% } %>
        <% }
       } %>
        
      </div>

      <div class="mensajeimagen">Click para agrandar la imagen</div>
    </section>
    <section class="productInfo">
      <% if (datosPublicacion!=undefined) { %>
      <h2><%= datosPublicacion.publicacion.titulo %> </h2>
      <% } %>
      <div class="calfiarriba">
        
        <%  let contador = 0; %>
        <% for(let i = 0; i < datosPublicacion.calificaciones.length; i++) { %>
          <%  contador=contador+parseInt(datosPublicacion.calificaciones[i].calificacion) %>
        <% } %>
        Calificación promedio:
        <% let total= Math.round(contador/datosPublicacion.calificaciones.length) %>
        <% for(let j = 0; j < total; j++) { %>
            <i class="fa-solid fa-star" title="Calificaión: <%= contador/datosPublicacion.calificaciones.length %>"></i>
        <% } %>
        <% if(total<5) {
          for(let k = 0; k < (5-total); k++) { %>
            <i class="fa-regular fa-star" title="Calificaión: <%= contador/datosPublicacion.calificaciones.length %>"></i>
          <% }
        } %>



      </div>
      <div class="productDescription">

        <p> <%= datosPublicacion.publicacion.descripcion %> </p>

      </div>
      <div class="productStyles">
        <p>Colores: <%= datosPublicacion.publicacion.colores %></p>
        <br>
        <p>Marca: <%= datosPublicacion.publicacion.marca %></p>
        <br>
        <p>Categoria: <%= datosPublicacion.categorias[0].descripcion %></p>
      </div>
    </section>
    <hr class="seaparaseccion">
    <section class="barraderecha">
      <div class="precio">
        $ <%= datosPublicacion.publicacion.precio %>
      </div>
      <div class="detenvio">
        $ <%= Math.trunc(Math.random()*2000) %> envío a Tucumán.
        <span class="flash"><i class="fa-solid fa-bolt-lightning"></i> Envio Flash disponible</span>
      </div>
      <div class="entrega">
        Entrega aproximada:
        <span class="fechaentrega">Miércoles 27 de agosto</span>
      </div>
      <div class="stock">
        <% if (datosPublicacion.publicacion.stock>0) { %>
          <% if (datosPublicacion.publicacion.stock==1) { %>
            En Stock <span class="ultimo">último en disponible</span>
            <% } else { %> 
            En Stock
       <% } } %>
      </div>
      <% if (datosPublicacion.publicacion.stock>0) { %>
      <form action="../cesta/agregar/<%= datosPublicacion.publicacion.idpublicacion %>" method="POST">
        <div class="cantidad">
          <select name="cantidad" id="cantidad" required>
            <% for (var i = 0; i < datosPublicacion.publicacion.stock; i++) { %>
              <option value="<%= i+1 %>"><%= i+1 %></option>
            <% } %>
          </select>
        </div>
        <div class="botones">
          <div class="botonagregar">
            <button class="agregar" type="submit">Agregar al carrito</button>
          </div>
          <div class="botoncomprar">
            <button class="comprar">Comprar ahora</button>
          </div>
        </div>
      </form>
      <% } else {%>
        <div class="stock-agotado">
          <p>Producto agotado temporalmente</p>
        </div>
      <% } %>
      <div class="envioacargo">
        Envío a cargo del comprardor
      </div>
      <div class="vendedor">
        Vendido por: <b><%= datosPublicacion.publicacion.usuarios.usuario %></b>
      </div>
      <div class="garantia">
        Garantía de 30 días.
      </div>
    </section>
  </main>

  <hr class="separador">
  <article class="compralocon">
    compralo con

  </article>
  <hr class="separador">

  <article class="publicacion">
    <p> <%- datosPublicacion.publicacion.detallepublicacion %> </p>
  </article>
  <hr class="separador">
  <% if(datosPublicacion.preguntas!=undefined && datosPublicacion.preguntas.length>0) { %>
  <article class="preguntas">
    <h3>Otras preguntas</h3>
    <% for(let i = 0; i < datosPublicacion.preguntas.length; i++) { %>

    <div class="itempreguntas">
      <div class="usuario">
        <%= datosPublicacion.preguntas[i].usuarios.usuario %>
      </div>
      <div class="preg-resp">
        <div class="pregunta">
          <%= datosPublicacion.preguntas[i].pregunta %>
        </div>
        <% if(datosPublicacion.preguntas[i].respuestas[0]){ %>
        <div class="respuesta">
          <i class="fa-solid fa-turn-up" style="
            transform: rotate(90deg);"></i>
          <%= datosPublicacion.preguntas[i].respuestas[0].respuesta %>
        </div>
        <% } %>
      </div>
    </div>

    <% } %>
   
    </div>
  </article>
  <% } %>
  <% if(!session.idusuario){ %>
    <h4 class="loginMessage">Debes iniciar sesión para poder realizar preguntas al vendedor</h4>
  <% } else { %>
  <% if (datosPublicacion.publicacion.idusuario!=session.idusuario) {%>
    <article class="postComentario">
      <h3>Realizar una pregunta al vendedor</h3>
      <form class="form-preguntas" action="/product/<%=datosPublicacion.id%>/pregunta" method="post">

        <label for="pregunta"></label>
        <textarea name="pregunta" id="pregunta" required minlength="20"></textarea>

        <button class="btnenviar" type="submit">Enviar</button>
      </form>
    </article>
    <% } else { %>

      <h4 class="loginMessage">No puedes realizar preguntas en tus publicaciones</h4>
  
   <% } }%>



  </article>
  <% if(datosPublicacion.calificaciones!=undefined && datosPublicacion.calificaciones.length>0) { %>
  <hr class="separador">
  <article class="comentario-calificacion">
   
    <h2>Otros usuarios opinaron</h2>
   
    <% for(let i = 0; i < datosPublicacion.calificaciones.length; i++) { %>
    <div class="comment-box">

      <div class="calificacion">
        <% for(let j = 0; j < datosPublicacion.calificaciones[i].calificacion; j++) { %>
        <i class="fa-solid fa-star"></i>

        <% } %>
        <% 
        if(datosPublicacion.calificaciones[i].calificacion<5) {
          for(let k = 0; k < (5-datosPublicacion.calificaciones[i].calificacion); k++) { %>
        <i class="fa-regular fa-star"></i>
        <% }
        } %>
      </div>
      <div class="comentario">
        <p>
          <%= datosPublicacion.calificaciones[i].comentario %>
        </p>
      </div>
    </div>
    <% } %>
    
  </article>
  <% } %>
  <hr class="separador">
  <% if (datosPublicacion.publicacion.idusuario!=session.idusuario) {%>
    <article class="postComentario">
    <h3>Dejanos tu comentario y calificacion:</h3>
    <form action="/product/<%=datosPublicacion.publicacion.idpublicacion%>/comentario" method="post">
      <section>
        <label for="comentario"></label>
        <textarea name="comentario" id="comentario" required minlength="4"></textarea>
        <div class="rating">
          <input type="radio" name="calificacion" id="one" value="1" checked />
          <label for="one"><i class="fa fa-star"></i></label>
          <input type="radio" name="calificacion" id="two" value="2" />
          <label for="two"><i class="fa fa-star"></i></label>
          <input type="radio" name="calificacion" id="three" value="3" />
          <label for="three"><i class="fa fa-star"></i></label>
          <input type="radio" name="calificacion" id="four" value="4" />
          <label for="four"><i class="fa fa-star"></i></label>
          <input type="radio" name="calificacion" id="five" value="5" />
          <label for="five"><i class="fa fa-star"></i></label>
        </div>

      </section>
      </div>
      <button class="btnenviar" type="submit">Enviar</button>
    </form>
  </article>
      <% } %> 
 
  <%- include('./partials/sidenav') %>
  <br>
  <%- include('./partials/footer') %>
  <script>
    function mostrarImagen(obj) {
      document.getElementById("mainimage").src = obj.src;
    }
  </script>
  <% } else { %>
    No existe el producto

  <% } %>
</body>

</html>