<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/productEdit.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js""></script>
  <script src="https://kit.fontawesome.com/ea592f04e6.js" crossorigin="anonymous"></script>
  <%- include('./partials/head') %>
  <title>Editar publicaci칩n</title>
</head>

<body>
  <%- include('./partials/navbar') %>
  <div class="productForm">
    <div class="logo">
      <a href="/">
        <img src="/img/amazona-negro.png" alt="Amazona" />
      </a>
    </div>
    <h2>Editar Producto</h2>

    <form enctype="multipart/form-data" action="/product/edit/<%= producto.idpublicacion %>?_method=PUT" method="POST">

      <div class="tituloForm">
        <label for="titulo">Titulo del producto:</label>
        <input type="text" name="titulo" id="titulo" value="<%= producto.titulo %> " />
      </div>
      <div class="descripcionForm">
        <label for="descripcion">Descripcion del producto:</label>
        <textarea name="descripcion" id="descripcion"><%= producto.descripcion %></textarea>
      </div>

      <div class="precioForm">
        <label for="precio">Precio:</label>
        <input type="number" name="precio" id="precio" step="0.01" value="<%= parseInt(producto.precio) %>" />
      </div>
      <div class="colorForm">
        <label for="color">Color/es:</label>
        <input type="text" name="color" value="<%= producto.colores %>">
      </div>
      <div class="marcaForm">
        <label for="marca">Marca:</label>
        
          <select name="marca" id="marca">
            <% for(var i = 0; i < producto.marcas.length; i++){ %>
            <option value="<%= producto.marcas[i].idmarca %>" <% if(producto.marcas[i].idmarca==producto.idmarca){ %> selected <% }%>><%= producto.marcas[i].marca %></option>
              <% } %>
          </select>
        
      </div>
      
      <div class="imagenPrincipal">
       
        <h5>Agregar im치gen principal</h5>
        <br>
        <div class="imagenForm">
          <label for="imagenPrincipal">Seleccionar Imagen</label>
          <input type="file" name="imagenPrincipal" value="<%= producto.imagenes[0].imagen %> " id="imagenPrincipal" accept="image/*" />
          <% if(locals && locals.mensaje){ %>
          <br>
          <div class="error">
            <%= mensaje.descripcion %>
          </div>
          <% } %>
        </div>
      </div>
      <h3>Imagen Actual</h3>
      <div class="img-princialactual">
          
        <% for(var i = 0; i < producto.imagenes.length; i++){ %>
          
          <% if(producto.imagenes[i].imagenprincipal == 1){ %>
            <div class="contenedorimgen">
              <img src="/img/<%= producto.imagenes[i].imagen %>" alt="<%= producto.imagenes[i].nombre %>" class="img-imagen" />
              <span class="span"><a href="#" title="Eliminar Imagen" onclick="deleteImage('<%= producto.idpublicacion %>','<%= producto.imagenes[i].idimagen %>')"><i class="fa-solid fa-trash"></i></a></span class="span">
              </div>
          <% } %>
        <% } %>
      

      </div>
      
      <div class="imagenesSecundarias">
        <h5>Agregar im치genes secundarias</h5>
        <div class="imagenForm">
          <label for="imagenSecundaria">Seleccionar im치genes</label>
          <input type="file" name="imagenSecundaria[]" id="imagenSecundaria" accept="image/*" multiple />
        </div>
      </div>
      <h3>Imagenes Actuales</h3>
      <div class="img-princialactual">
          
        <% for(var i = 0; i < producto.imagenes.length; i++){ %>
          
          <% if(producto.imagenes[i].imagenprincipal == 0){ %>
            <div class="contenedorimgen">
          <img src="/img/<%= producto.imagenes[i].imagen %>" alt="<%= producto.imagenes[i].nombre %>" class="img-imagen" />
          <span class="span"><a href="#" title="Eliminar Imagen" onclick="deleteImage('<%= producto.idpublicacion %>','<%= producto.imagenes[i].idimagen %>')"><i class="fa-solid fa-trash"></i></a></span class="span">
          </div>
          <% } %>
        <% } %>
      

      </div>
      <div class="submitForm">
        <button type="submit">Guardar</button>
      </div>
    </form>
  </div>
  <%- include('./partials/sidenav') %>
  <script>
    function deleteImage(publicacion,imagen) {
    $.ajax({
        url: '/product/delete/publicacion/'+publicacion+'/image/'+imagen,
        type: 'DELETE',
        success: function (result) {
            
            if(result.resultado=='ok'){
                alert(result.mensaje);
                location.reload();
            }else {
                console.error(result.mensaje);
                alert(result.mensaje);
            }
            
            
        }
    });
}
</script>
</body>

</html>