<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/search.css" />

    <title>Amazona | Proyecto Grupo 3</title>
  </head>

  <body>
    <%- include('./partials/navbar') %>
    <main>
      <section class="categoriasSection">
        <% for(let i = 0; i < productos.length; i++) { %>
          <div class="categoriaContainer">
            <a class="categoriaLink" href="#/">
              <p class="categoriaText">Categoria X</p>
            </a>
          </div>
        <% } %>
      </section>

      <section class="productosSection">
        <% for(let i = 0; i < productos.length; i++) { %>
          
          <div class="productContainer">
            <div class="productImgDiv">
              <a href="/product/<%= productos[i].idpublicacion %>">
              <img class="productImg" src="/img/<%= productos[i].imagenes[0].imagen %>">
            </a>
            </div>

            <div class="productInfoContainer">
              <div class="productTitleDiv">
                <a href="/product/<%= productos[i].idpublicacion %>">
                  <h3><%= productos[i].titulo %></h3>
                </a>
                
              </div>
              <div class="productInfoDiv">
                <div>
                  <p>Precio: <%= productos[i].precio %></p>
                </div>
                <div>
                  <p>Marca: <%= productos[i].marcas.marca %></p>
                </div>
                <div>
                  <p>En stock: <%= productos[i].stock %></p>
                </div>
              </div>
              
            </div>

            
            
            <div></div>

          </div>
        <% } %>
      </section>
    </main>
  </body>

</html>