<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/userProfile.css" />
    <title>Perfil de usuario</title>
  </head>

  <body>
    <%- include('./partials/navbar') %>
    <main>
      <section>
        <h2>Mis Datos</h2>
        <div class="seccion-superior">
            
          <div class="contenedorimagen">
            <div class="lala">
            <div class="imagen"><img src="img/profiles/<%= locals.session.imagen %> "/></div>
            <h2 class="usuario"><%= locals.session.user %></h2>
            <a href="#" title="Cambiar Imagen"><i class="fa-solid fa-camera cambiar-foto"></i></a>
            <input type="file" id="imagenperfil" name="imagenperfil" style="display:none;" class="inputimagen" accept="image/*" />
            </div>
            
          </div>
          
        </div>
        <div class="userdata">
          <div class="useritems">
            <div class="useritem"><strong>Nombre de usuario:</strong> <%= locals.session.user %></div>
            <div class="useritem"><strong>Total publicaciones: <a href="/admin/"></strong><%= publicaciones.length %></a></div>
          </div>
         
        <div class="user-info">
            <table>
                <tbody>
                    <tr>
                        <td> Nombre:</td>
                        <td><%= usuario.nombre %></td>
                    </tr>
                    <tr>
                        <td>Apellido:</td>
                        <td><%= usuario.apellido %></td>
                    </tr><tr>
                        <td>Telefono:</td>
                        <td><%= usuario.telefono %></td>
                    </tr><tr>
                        <td>Fecha de Nac.:</td>
                        <td><%= usuario.fechanac %></td>
                    </tr><tr>
                        <td>Email:</td>
                        <td><%= usuario.email %></td>
                    </tr>
                </tbody>

            </table>
         
          <div>
            
            
          </div>
          <div>
           
            
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %> <%- include('./partials/sidenav') %>
    <script>
        document.querySelector('.cambiar-foto').addEventListener('click', function(){
            document.querySelector('.inputimagen').click();
        });
    </script>
  </body>
</html>
