<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/userProfile.css" />
    <script src="https://kit.fontawesome.com/91393ea5bf.js" crossorigin="anonymous"></script>
    <title>Perfil de usuario</title>
  </head>

  <body>
    <%- include('./partials/navbar') %>
    <main>
      <section>
        <div class="contenedorprincipal">
        <div class="principal">
            <div class="seccion-superior">
            
                <div class="contenedorimagen">
                  <div class="itemsimagen">
                    <h2 class="usuario">Hola <%= usuario.nombre %>!</h2>
                  <div class="imagen"><img src="img/profiles/<%= locals.session.imagen %> "/></div>
                 
                  <a href="#" title="Cambiar Imagen"><i class="fa-solid fa-camera cambiar-foto"></i></a>
                  <input type="file" id="imagenperfil" name="imagenperfil" style="display:none;" class="inputimagen" accept="image/*" />
                  </div>
                  
                </div>
                
              </div>
<hr class="hr">
              <div class="userdata">
                <div class="useritems">
                  <span><strong>Usuario:</strong> <%= locals.session.user %></span>
                 
                </div>
               
              <div class="user-info">
                <h2>Mis Datos</h2>
                <form action="#" method="get" name="perfil" id="perfil">
                  <table>
                      <tbody>
                          <tr>
                              <td><input class="form__field" type="text" id="nombre" name="nombre" placeholder="Nombre" value="<%= usuario.nombre %>">
                                </td>
                              <td><input class="form__field" type="text" id="apellido" name="apellido" placeholder="Apellido" value="<%= usuario.apellido %>"></td>
                          </tr>
                          <tr>
                              <td><input class="form__field" type="tel" id="telefono" name="telefono" placeholder="Teléfono" value="<%= usuario.telefono %>"></td>
                              <td><input class="form__field" type="date" id="fechanac" name="fechanac" placeholder="Fecha de Nac." value="<%= usuario.fechanac %>"></td>
                         <tr>
                              <td colspan="2" scope="colgroup"><input class="form__field" type="email" id="email" name="email" value="<%= usuario.email %>"></td>
                             
                          </tr>
                      </tbody>
      
                  </table>
                  <button type="submit" class="button">Guardar</button>
                </form>
                <div>
                  
                  
                </div>
                <div>
                 
                  
                </div>
              </div>
              </div>
        </div>
        <div class="derecha">
            <div class="direcciones">
                <div class="contenedordirecciones">
                <h3>Direcciones</h3>
                <div class="direcciones-items">
                  
                  <div class="direcciones-item">
                    <h4>Dirección de envío</h4>
                    <% if(domicilio) { %>
                    <div class="direcciones-item-info">
                      <p>Pais: <%=domicilio.pais.PaisNombre%></p>
                      <p>Provincia: <%=domicilio.provincia.Provincia%></p>
                      <p>Calle: <%= domicilio.calle %></p>
                      <p>Altura: <%= domicilio.altura %> </p>
                      <p>Codigo postal: <%= domicilio.cp %> </p>
                    </div>
                    <% } else { %>
                      <div class="direcciones-item-info">
                        <p>Pais:</p>
                        <p>Provincia:</p>
                        <p>Calle:</p>
                        <p>Altura:</p>
                        <p>Codigo postal:</p>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
              <small style="text-align: right; margin:10px;display: block; "><a class="gestionarDireccionBtn" style="color: black;text-decoration: none;">Gestionar direcciones</a></small>
            </div>
              <div class="publicaciones">
                <div class="contenedorpublicaciones">
                <h3>Tus Publicaciones</h3>
                <% if(publicaciones.length > 0) { %>
                  <div class="publicaciones-items">
                      <% for(let i = 0; i < 5; i++) { %> 

                        <a href="/producto/<%= publicaciones[i].idpublicacion %> "><%= publicaciones[i].titulo %> </a>
                        
                      <% } %> 
                  </div>
                <% } else { %> 
                  <div class="publicaciones-items">
                    <p>Aun no tienes publicaciones.</p>
                  </div>
                <% } %>
                <% if(publicaciones) { %>
                <small style="text-align: right; margin-top: 10px; display: block; "><a href="/admin/" style="color: black;">Ver todas (<%= publicaciones.length %>)</a></small>
                <% } %>
                </div>
              </div>
            </div>
            
     

              <form class="gestionarDireccionForm" method="POST" action="/perfil/modificardireccion">

                <div class="closeBtnDiv">
                  <p class="errorMessage"></p>
                  <div class="closeBtn"><i class="fa-solid fa-xmark"></i></div>
                </div>

                <div class="gestionarDireccionInputDiv">

                  <div class="gestionarDireccionPais">
                    <label for="direccionPais">Pais:*</label>
                    <select class="direccionPais" name="direccionPais">
                      <% paises.forEach(pais => { %>
                        <option value="<%= pais.idpais %>"><%= pais.PaisNombre%></option>
                      <% }) %>
                    </select>
                  </div>

                  <div class="gestionarDireccionProvincia">
                    <label for="direccionProvincia">Provincia:*</label>
                    <select class="direccionProvincia" name="direccionProvincia">
                    <% provincias.forEach(provincia => { %>   
                      <option value="<%= provincia.idProvincia %>"><%= provincia.Provincia %></option>
                    <% }) %>
                  </select>
                  </div>

                  <div class="gestionarDireccionCalle">
                    <label for="direccionCalle">Calle:*</label>
                    <input min="1" max="100" class="direccionCalle" type="text" name="direccionCalle">
                  </div>

                  <div class="gestionarDireccionAltura">
                    <label for="direccionAltura">Altura:*</label>
                    <input min="1" max="11" class="direccionAltura" type="text" name="direccionAltura">
                  </div>

                  <div class="gestionarDireccionPiso">
                    <label for="direccionPiso">Piso:</label>
                    <input max="11" class="direccionPiso" type="text" name="direccionPiso">
                  </div>

                  <div class="gestionarDireccionDepto">
                    <label for="direccionDepto">Depto:</label>
                    <input max="3" class="direccionDepto" type="text" name="direccionDepto">
                  </div>

                  <div class="gestionarDireccionCp">
                    <label for="direccionCp">Codigo postal:*</label>
                    <input max="6" class="direccionCp" type="text" name="direccionCp">
                  </div>
                </div>

                <div class="confirmarDireccionDiv">
                  <button class="confirmSubmitButton" type="submit">Confirmar</button>
                </div>

              </form>
        </div>
        
        </div>
        
        
        
      </section>
    </main>
    <%- include('./partials/footer') %> <%- include('./partials/sidenav') %>
    <script>
        document.querySelector('.cambiar-foto').addEventListener('click', function(){
            document.querySelector('.inputimagen').click();
        });
    </script>
  </body>
  <script src="/js/gestionarDireccion.js"></script>
</html>
